{
  "googleService": {
    "service": "google",
    "clientId": "ppp",
    "secret": "qqq"
  },
  "particle": {
    "deviceId": "rrr",
    "token": "sss"
  },
  "userWhitelist": [
    "xxx@gmail.com",
    "yyy@gmail.com"
  ]
}
